/* ======================================
LOGIN
Plataforma Web Educativa
====================================== */



*{

box-sizing:border-box;

}





body{


min-height:100vh;


display:flex;


align-items:center;


justify-content:center;



background:

linear-gradient(
135deg,
#2563eb,
#7c3aed,
#ec4899
);



background-size:300% 300%;


animation:

fondoMovimiento 10s ease infinite;



font-family:

'Segoe UI',
sans-serif;


}






@keyframes fondoMovimiento{


0%{

background-position:0% 50%;

}


50%{

background-position:100% 50%;

}


100%{

background-position:0% 50%;

}


}








.login-container{


width:100%;


max-width:430px;


padding:20px;


}







.login-card{


background:

rgba(255,255,255,.95);



border-radius:35px;



padding:40px;



box-shadow:


0 25px 60px rgba(0,0,0,.25);



animation:


aparecer .8s ease;



transition:.3s;


}






.login-card:hover{


transform:

translateY(-5px);



box-shadow:


0 35px 70px rgba(0,0,0,.30);


}







@keyframes aparecer{


from{


opacity:0;


transform:

translateY(40px);


}



to{


opacity:1;


transform:

translateY(0);


}



}








.logo-login{


font-size:75px;



color:#2563eb;



display:inline-block;



animation:


flotar 3s ease-in-out infinite;



}







@keyframes flotar{


0%,100%{


transform:

translateY(0);


}


50%{


transform:

translateY(-10px);


}



}







.login-card h2{


font-weight:800;



color:#1e293b;



}



.login-card p{


color:#64748b;


}








.form-control{


border-radius:15px;



padding:12px 15px;



border:2px solid #e2e8f0;



transition:.3s;


}







.form-control:focus{


border-color:#2563eb;



box-shadow:


0 0 0 4px rgba(37,99,235,.15);



}








.btn-primary{


background:


linear-gradient(
135deg,
#2563eb,
#7c3aed
);



border:none;



border-radius:15px;



padding:13px;



font-weight:700;



transition:.3s;


}








.btn-primary:hover{


transform:

scale(1.03);



box-shadow:


0 10px 25px rgba(37,99,235,.35);



}







a{


color:#2563eb;



font-weight:600;



text-decoration:none;


}



a:hover{


text-decoration:underline;


}







.alert{


border-radius:15px;


}